.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    gap: 1.5rem;
}


.features .box-container .box {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 2rem 0;
    
}
.features .box-container .box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.features .box-container h3{
    margin-top: 2rem;
    light-height: 1.8rem;
    color: var(--black)
}

.features .box-container p{
    margin-top: 1.5rem;
    light-height: 1.8rem;
    color: var(--light-color);
    padding: 1rem 0;
}


.features .box-container img {
    max-width: 100%;
    height: 25rem;
}

.products .product-slider{
    padding: 1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background-color: #fff;
    border-radius: .5rem;
    text-align:center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

  .slide-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .price {
    font-size: 1.25rem;
    color: #777;
  }
  
  .stars i {
    color: #f39c12;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e67e22;
  }

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 0 0 2rem 0;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
    border: none;
}

.categories .box-container .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categories .box-container .box img{
    height: 60%;
    width: 100%;
    border-radius: 2px;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    light-height: 1.8rem
}

.categories .box-container .box p{
    font-size: 1.6rem;
    color: var(--orange)
}


.review .review-slider{
    padding: 1rem;
    
}
.swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: .5rem;
}

.review .review-slider .box{
    background-color: #fff;
    border-radius: .5rem;
    text-align:center;
    padding: 3rem 2rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    width: 30rem;
}

.review .review-slider .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review .review-slider .box img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem
}


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem
}
.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 0 0 2rem 0;
}

.blogs .box-container .box img{
    height: 50%;
    width: 100%
}

.blogs .box-container .box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-bottom: var(--border-)
}

.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.4rem;

}

.blogs .box-container .box .content .icons a:hover{
    color: var(--black);
    font-size: 1.6rem;
}

.blogs .box-container .box .content .icons a i{
    color: orange;
    padding-right: .5rem;
}

.blogs .box-container .box .content .icons h3{
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content .icons p{
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

