
.header{
    positipon: fix;
    top: 0; left: 0; right: 0;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: border;
    color: #1A1A1A
}

.header .logo i{
    color: orange;
}

.header .navbar a{
font-size: 1.7rem;
margin:0 1rem;
color: #1A1A1A;
}

.header .navbar a:hover{
    color: orange;
}
.header .icons {
    display: flex;
    align-items: center;
}
.header .icons div {
    height: 4rem;
    width: 4.5rem;
    line-height: 4.5rem; /* Sửa từ 'light-height' thành 'line-height' */
    border-radius: .5rem;
    background: #eee;
    color: #1A1A1A;
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}

.header .icons div:hover{
    background-color: orange;
    color: #fff;
}

#menu-btn{
    display: none;
}


.header .search-form{
    position: absolute;
    top:16%; right: -2000%;
    max-width: 50rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow)
}

#search-btn:hover{
    color: #fff;
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: #1A1A1A;
    padding: 0 1.5rem;
    border: none;
    outline: none;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #1A1A1A;
    cursor: pointer; 
}

.header .search-form label:hover{
    color: orange; 
}

.header .shopping-cart{
    position: absolute;
    top: 16%; right: -2000%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:30rem;
    background: #fff;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;

}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--orange)
}

.header .shopping-cart .box .content h3{
    color: #1A1A1A;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quality{
 padding-left:1rem
}
.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .total{
    color: orange;
    font-size: 1.6rem;
    padding-left: 1rem 0;
    text-align: center;

}


.btn:hover{
    background-color:orange;
    color: #fff;
}
.header .shopping-cart .btn {
    display: block;
    margin: 3rem;
    text-align: center; 
}

   
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://media.istockphoto.com/id/1191634648/vi/anh/khung-rau-h%E1%BB%AFu-c%C6%A1-t%C6%B0%C6%A1i-v%E1%BB%9Bi-gia-v%E1%BB%8B-v%C3%A0-d%E1%BA%A7u.jpg?s=170667a&w=0&k=20&c=Aa2vC6GpFeWyqNlPcmuAOFNdttuZYA4TAQJ7-5LAFBU=') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}


.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: #1A1A1A;
    font-size: 3rem;
}
.home .content h3 span{
    color: orange;
}
.home .content p{
    color: var(--light-color);
    font-size: 1.6rem;
    light-height: 1.8rem;
}




@media (max-width: 1020){
    html{
        font-size: 55%;
    }
    .header .search-form{
        top: -2%;
    }
   
}



@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header .search-form{
        top: 4%;
    }
    .header .shopping-cart{
        top: 4%;
    }
   
}
@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 12%; right: -2000%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background-color: #fff;
    }
    .header .search-form {
        width: 90%
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .search-form{
        top: 12%;
    }
    .header .shopping-cart{
        top: 12%
    }

}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    header{
        padding: 2rem
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
    .header .search-form{
        top: 12%;
    }
   
}


