
.footer{
    background-color: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem
}
.footer .box-container .box .color{
    color: #ff7800;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box h3 {
    color:  #ff7800;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.footer .box-container .box a:hover{
    color: orange;
}

.footer .box-container .box .links FontAwesomeIcon{
    color:  #ff7800;
    padding-right: .5rem;
}

.footer .box-container .box p{
    light-height: 1.8;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box .share {
    display: flex;
    justify-content: start;
    align-items: center; 
}


.footer .box-container .box .share a {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 0 0 auto;
    height: 2rem;
    width: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: #130f40;
    margin-left: .2rem;
    background-color: #eee;
    text-align: center;
    transition: background-color 0.3s;
}

.footer .box-container .box .share a:not(:last-child) {
    margin-right: 1rem; 
}

.footer .box-container .box .links:hover {
    padding-right: 2rem;
}


.footer .box-container .box .share a:hover {
    background-color:  #fff;
    color: #fff;
}

.footer .box-container .box .email{
    border: none;
    margin: .7rem 0;
    padding: 1rem;
    background-color: #eeeeee;
    font-size: 1.5rem;
    color: #130f40;
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 1rem;
    height: 3.3rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    color: #130f40;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color:  #ff7800
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #e67e22;
  }
