@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box,;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem; 
    color: var(--black)
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor:pointer;
    font-size: 1.6rem;
}




@media (max-width: 1020){
    html{
        font-size: 55%;
    }
    .header .search-form{
        top: -2%;
    }
}



@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header .search-form{
        top: 4%;
    }
}
@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 12%; right: -130%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background-color: #fff;
    }
    .header .search-form {
        width: 90%
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .search-form{
        top: 12%;
    }

}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    header{
        padding: 2rem
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
    .header .search-form{
        top: 12%;
    }
   
}


